@import url('https://fonts.googlrapis.com/css2?family=Popping:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',  sans-serif;
}

/*************************body**************************/
body{
    background: rgb(58, 58, 58) ;*/
    color: white;
    font-family: 'Segoe UI',  sans-serif;
}
/*********************header**********************/
h3{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
h4{
    color: rgb(163, 127, 127);
    letter-spacing: 2px;
    font-size: 20px;
}


h2{
    color: white;
    margin: 20 px 0px 20px;
    font-size: 75px;
}

h1{
    color: white;
    margin: 20 px 0px 20px;
    font-size: 75px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;  
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    transition: .3s;
    text-transform: capitalize;
}
.navbar a.active{
    color:rgba(255, 196, 0, 0.938);
}

.home{
    height: 100vh;
    background: url('accueil.png')no-repeat;
    background-size:cover ;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width:650px;
}
.home-content h1{
    font-size: 43px;
    font-weight: 700;
}
.home-content p{
    font-size: 16px;
    max-width:500px;
}
.home-content .btn-box{
    position: absolute;
    top: 50%;
    left: 8%;
    transform:translateY(-50) ;
    
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #313131;
}
.about img{
    height: auto;
    width: 430px;
} 
.about-text{
    width: 550px;
    
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color:rgb(163, 127, 127);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18;
    margin-bottom: 45px;
}
.main{
    width:1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
/*.projects {
    background-color: rgb(163, 127, 127);
    border: 1px solid grey;
    margin: 5px;
    padding: 8px;
    justify-content: center;
    
}*/
/*article {
    background-color: #272727;
    border: 1px solid rgb(54, 53, 53);
    margin: 5px;
    padding: 8px;
}*/
.contact {
    background-color:#101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the contact section take the full height of the viewport */
}
.contact section{
    padding: 100px 0px;
    background-color: #101010;
    width: 430px;
    text-transform: capitalize;
    font-size: 75px;
    
}
.contact h3{ 
    font-size:75px ;
    width: 550px;
    margin: 20 px 0px 20px;
}

button{
    background-color: rgba(255, 196, 0, 0.938);
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 196, 0, 0.938);
    cursor: pointer;
}

.newslatter{
    background-color: #101010;
    width: 380px;
}
.newslatter form{
    
    max-width: 100%;
    position: relative;
}
.newslatter form input {
    width: 100%;
    padding: 14px 15px;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 196, 0, 0.938);
    outline: none;
    border-radius: 30px;
}
.newslatter form input:nth-child(1){
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgba(255, 196, 0, 0.938);
    outline: none;
    border-radius: 30px;
}
.newslatter form input:nth-child(2){
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgba(255, 196, 0, 0.938);
    outline: none;
    border-radius: 30px;
}
.newslatter form input:nth-child(3){
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgba(255, 196, 0, 0.938);
    outline: none;
    border-radius: 30px;
}
.newslatter form input:nth-child(4){
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgba(255, 196, 0, 0.938);
    color: black;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.newslatter form input:last-child:hover{
    transform: scale(1.2);
}
.newslatter form button {
    width: 100%;
    padding: 13px 0;
}

.sci {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci a:hover {
    background-color: transparent;
    transform: scale(1.2);
}
.sci a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 196, 0, 0.938);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
}

footer{
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width:500px;
    text-align: center;
    line-height: 26px;
}

